<div style="width: 50%; margin-left: 25%">
	<input id="create-name" type="text" class="form-control" placeholder="Name" style="margin-bottom: 20px; margin-top: 20px">
	<input id="create-length" type="text" class="form-control" placeholder="Length In Seconds" style="margin-bottom: 20px">
	<input id="create-interval" type="text" class="form-control" placeholder="Interval" style="margin-bottom: 20px">
	<button class="btn btn-primary" style="float: right" {{action 'create'}}>Create</button>
</div>